{% extends 'layout.html' %}

{% block content %}
<div class="h-full">
  <div class="text-black bg-gray-200 rounded p-10">

    <form action="{% if request.GET.course_id %}{% url 'courses_update' request.GET.course_id %}{% else %}{% url 'courses_app' %}{% endif %}" method="post" class="flex items-center">
      {% csrf_token %}
      <div class="w-96">
          {{ form.title }}
      </div>
      <div class="ml-6 ">
          <button type="submit" class="h-8 px-3 w-full rounded-md shadow text-white bg-blue-500">
              {% if request.GET.course_id %}Save{% else %}Add{% endif %}
          </button>
      </div>
  </form>
  </div>

  <div class="text-black bg-gray-200 rounded p-10 mt-6">
    {% if courses %}
    <ul class="grid grid-cols-1 divide-y">
      {% for course in courses %}
      <li class="py-3 flex items-center border-gray-500	">
        <div class="grow">{{ course.title }}</div>
        <a href="/courses_app/?course_id={{course.id}}">
          <i class="las la-pen text-xl text-green-600"></i>
        </a>
        <a href="{% url 'courses_delete' course.id %}">
          <i class="text-xl las la-trash text-red-600"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="text-center">Please add new course item in the field above.</div>
    {% endif %}
  </div>
</div>
{% endblock %}